@media only screen and (max-width: 768px){
    * {
        background: url("mariobackground.png") fixed center;
    }
    #title {
        color: crimson;
        text-align: center;
        width: 100%;
    }
    #paragraph {
        width: 100%;
        color: crimson;
    }
    #pricing {
        color: crimson;
        width: 100%;
    }
    input {
        color: crimson;
    }
    button {
        color: crimson;
    }
    footer {
        color: crimson;
        text-align: center;
        position: absolute;
        bottom: 0px;
        left: 350px;
    }
}
@media only screen and (min-width: 768px){
    * {
        background: url("mariobackground.png") fixed center;
    }
    #title {
        color: crimson;
        text-align: center;
        width: 100%;
    }
    #paragraph {
        width: 100%;
        color: crimson;
    }
    #pricing {
        color: crimson;
        width: 100%;
    }
    input {
        color: crimson;
    }
    button {
        color: crimson;
    }
    footer {
        color: crimson;
        text-align: center;
        position: absolute;
        bottom: 0px;
        left: 350px;
    }
}